/* ------Universal Styles------ */

body {
  margin: 25px;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Lora";
  font-size: 4em;
  font-weight: 100;
  color: #252525;
}

h2 {
  font-family: "Lora";
  font-size: 2em;
  font-weight: 100;
  color: #252525;
}

h3 {
  font-family: "Lora";
  font-weight: 100;
  color: #252525;
}

p {
  color: #252525;
  font-family: "Open Sans";
  font-size: 1em;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3em;
    font-weight: 100;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
    font-weight: 100;
  }
}

/* --------- nav styles --------*/

.nav-bar {
  width: 900px;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav li {
  min-width: 150px;
}

nav .link {
  text-decoration: none;
  color: #252525;
  font-family: "Open Sans";
  font-size: 1.4em;
  margin-left: 7px;
}

nav .link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  background-image: linear-gradient(130deg, #43da7a 0%, #389dcf 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 1000px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-content: left;
  }
}

/*  -------- Dropdown Styles ------ */

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #252525;
  font-family: "Open Sans";
  font-size: 1.4em;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  background-image: linear-gradient(130deg, #43da7a 0%, #389dcf 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  outline: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.815);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: "Open Sans";
  color: #252525;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  background-image: linear-gradient(130deg, #43da7a 0%, #389dcf 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* --------main page content--------- */

.content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.content h1 {
  margin-bottom: 0px;
}

.content a {
  width: 100px;
  margin: auto;
}

.content input {
  outline: 0;
}

.quote-selector {
  border: none;
  background: transparent;
}

.hero {
  margin: 0 auto;
  max-width: 75%;
  height: 65vh;
  clip-path: polygon(0px 100%, 100% 70%, 100% 0px, 0px 0px);
  background: #dfd5ff;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.hero-background .link {
  text-decoration: none;
  color: rgb(33, 33, 33);
  font-family: "Open Sans";
  font-size: 1.4em;
}

.hero-background .link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  background-image: linear-gradient(130deg, #43da7a 0%, #389dcf 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 1000px) {
  .hero {
    max-width: 100%;
  }
}

/* -------lyric fetcher content------ */
.hero-2 {
  margin: 0 auto;
  max-width: 75%;
  height: 65vh;
  clip-path: polygon(0px 70%, 100% 90%, 100% 0px, 0px 0px);
  background: #dfd5ff;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.hero-background-2 .link {
  text-decoration: none;
  color: #252525;
  font-family: "Open Sans";
  font-size: 1.4em;
}

.hero-background-2 .link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  background-image: linear-gradient(130deg, #43da7a 0%, #389dcf 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.hero-background-2 .plink {
  text-decoration: underline;
  color: rgb(33, 33, 33);
  font-family: "Open Sans";
  font-size: 1em;
}

.hero-background-2 .plink:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  background-image: linear-gradient(130deg, #da43a8 0%, #9338cf 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#results p {
  font-size: 1em;
  font-family: "Open Sans";
}

#submit {
  background-color: transparent;
  color: #252525;
  padding: 16px;
  font-size: 1.2em;
  font-family: "Open Sans";
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 10px 16px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
}

#submit:hover {
  background-color: rgba(109, 109, 109, 0.082);
  box-shadow: 1px 8px 14px 1px rgba(0, 0, 0, 0.3);
  top: 2px;
}

#submit:active {
  box-shadow: 0 0 rgba(0, 0, 0, 0.2);
  top: 6px;
}

label {
  font-size: 1.2em;
  font-family: "Open Sans";
}

/* -------quotes styles------- */

.quotebuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* ---------- footer styles ---------- */

.footer {
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
}

footer ul {
  padding: 0;
}

footer a {
  color: #252525;
}

.footer-links {
  max-width: 1000px;
  margin: 0, auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon:hover {
  color: #75e29d;
}
